* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f5f7;
  height: 100%;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media all and (max-width: 1200px) {
  .container {
    width: 1024px;
  }
}

@media all and (max-width: 1000px) {
  .container {
    width: 768px;
  }
  .navbar__right-block {
    text-align: right;
  }
}

@media all and (max-width: 800px) {
  .container {
    width: 660px;
  }
  .navbar__right-block {
    display: none;
  }
  .list-block .item {
    width: 42% !important;
    padding: 15px !important;
  }
  .navbar-container {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media all and (max-width: 720px) {
  .container {
    width: 560px;
  }
  .main-info__group {
    text-align: right;
  }
}

@media all and (max-width: 600px) {
  .container {
    width: 560px;
  }
}

@media all and (max-width: 590px) {
  .container {
    width: 90%;
  }
  .list-block .item {
    width: 80% !important;
    padding: 10px !important;
  }
  .list-block {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .main-info {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important;
    text-align: left !important;
  }
  .main-info__fullName {
    margin-top: 10px;
  }
}

.navbar {
  max-height: 148px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d6dae2;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  border-right-color: #15389B;
  border-right-style: solid;
  border-right-width: 3px;
  margin-right: 8px;
}

.navbar__logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
}

.navbar__logo-block a {
  margin: -43px;
  margin-top: -52px;
}

.navbar-text {
  color: #15389B;
  text-transform: uppercase;
}

.navbar-text__title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 4px;
}

.navbar-text__subtitle {
  color: #4d4d4d;
  font-size: 10px;
}

.navbar__right-block {
  font-size: 24px;
  color: #15389B;
  font-weight: bold;
}

.main {
  padding-top: 25px;
}

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #15389B;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-navigation__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.main-navigation__buttons .navigation__button {
  width: 260px;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 7px;
  background-color: #172BE0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
  color: #FFFFFF;
}

.main-navigation__buttons .navigation-list {
  display: none;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-navigation__buttons a {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.list {
  margin-top: 15px;
  color: #000;
}

.list-title {
  font-size: 23px;
  text-align: center;
}

.list-subtitle {
  font-size: 23px;
}

.list a {
  text-decoration: none;
  color: #000;
  margin-bottom: 8px;
  font-size: 18px;
}

.list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-block .name {
  margin: 8px 0;
}

.list-block .links a {
  color: #15389B;
}

.list-block .item {
  width: 30%;
  margin: 20px 10px;
  background: #fff;
  -webkit-box-shadow: 0px 12px 14px #666;
          box-shadow: 0px 12px 14px #666;
  border-radius: 4px;
  padding: 25px;
  text-align: center;
  border: 4px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.list-block .item:hover {
  -webkit-box-shadow: 0px 12px 14px #172BE0;
          box-shadow: 0px 12px 14px #172BE0;
  border: 2px solid #172BE0;
  margin: 18px 8px;
  padding: 18px;
}

.list-block .item:hover .name {
  color: #172BE0;
}
/*# sourceMappingURL=style.css.map */